.list {
    height: 100%;
    width: 100%;
    font-family: var(--body-font);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 10px 0 #00000087;

    .list-header {
        color: white;
        display: grid;
        align-items: center;
        min-height: 40px;
        border-radius: 10px 10px 0 0;
        background-color: var(--primary-color);
        overflow-x: auto;

        .header-item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 10px;
            background-color: var(--primary-color);
            position: relative;
        }

        .cursor {
            cursor: pointer;
        }
    }

    .list-body {
        overflow: auto;
        position: relative;

        .list-item {
            background-color: white;
            border-bottom: 1px solid lightgray;
            min-width: fit-content;
            color: var(--secondary-primary-color);

            .list-column {
                padding: 0 5px;
                display: flex;
                align-items: center;
                justify-content: start;
                width: 100%;
                overflow: hidden;
                text-wrap: nowrap;
                background-color: white;
            }
        }
    }

    .page-control {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .page-entry-amount-select {
            display: flex;
            flex-direction: row;
            margin: 10px 0 0 10px;

            .amount-select {
                background-color: var(--primary-color);
                border-radius: 5px;
                margin-right: 5px;
                padding: 0 5px;
                color: white;
            }
            .active {
                color: black
            }

            .amount-select:hover {
                cursor: pointer;
            }
        }

        .list-paging {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 10px 0 0;
            border-radius: 5px;
            background-color: var(--primary-color);

            .icon-wrapper {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;

                & svg {
                    /*height: 100%*/
                }

                & svg:hover {
                    cursor: pointer;
                }
            }

            .custom-dropdown {
                .custom-dropdown-header {
                    padding: 0 10px;
                    border-radius: 5px;
                    border: 1px solid lightgrey;
                }
            }
            .loading-blocker{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--tertiary-primary-color);
                opacity: .5;
                .spinner-border{
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

.list-paging-menu {

    .custom-dropdown-menu {
        max-height: 300px;
        overflow: auto;

        .custom-dropdown-item {
            min-width: 65px;
            text-align: center;
        }
    }
}

.dark-mode .list {
    color: var(--dark-text-color);

    .list-header {
        background-color: var(--dark-header-bg);
        border-bottom-color: var(--dark-border-color);

        .header-item {
            background-color: var(--dark-header-bg);
        }
    }

    .list-body {
        .list-item {
            background-color: var(--dark-card-bg);
            border-bottom: 1px solid var(--dark-border-color);
            color: white;

            .list-column {
                background-color: var(--dark-card-bg);
            }
        }
    }

    .page-control {

        .list-paging {
            background-color: var(--dark-header-bg);
            color: var(--dark-text-color);
            border-bottom-color: var(--dark-border-color);

            .custom-dropdown {
                .custom-dropdown-header {
                    border: 1px solid var(--dark-border-color);
                }
            }

            .loading-blocker{
                background-color: var(--dark-active-bg);
            }

        }
    }

    .page-entry-amount-select {
        .amount-select {
            background-color: var(--dark-header-bg);
            color: var(--dark-text-color);
            border-bottom-color: var(--dark-border-color);
        }
        .active {
            color: var(--primary-color);
        }
    }
}