.custom-dropdown {
    .custom-dropdown-menu {
        display: block;
        background-color: var(--primary-color);
        color: white;
        box-shadow: 1px 1px 10px 1px #6f6f6fb0;
        position: fixed;
        z-index: 10;
        border-radius: 5px;
    }

    .custom-dropdown-header {
        cursor: pointer;
        background-color: var(--primary-color);
        color: white;
    }

    .custom-dropdown-item {
        color: white;
        font-weight: 400;
        padding: 10px;
    }

    .custom-dropdown-item:hover {
        cursor: pointer;
        background-color: var(--secondary-color);
    }
}

.dark-mode .custom-dropdown {
    .custom-dropdown-header {
        background-color: var(--dark-header-bg);
        color: var(--dark-text-color);
        border-bottom-color: var(--dark-border-color);
    }

    .custom-dropdown-menu {
        background-color: var(--dark-header-bg);
        color: var(--dark-text-color);
        border: 1px solid var(--dark-border-color);
        box-shadow: 1px 1px 10px 1px black;
    }

    .custom-dropdown-item {
        color: var(--dark-text-color);
        background-color: var(--dark-card-bg)
    }

    .custom-dropdown-item:hover {
        background-color: var(--dark-nav-hover-bg);
        color: var(--dark-primary-color);
    }
}